body {
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.img_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-top {
  max-height: 650px;
  max-width: 900px;
}
